<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no %><br>
    <%= f.text_field :no %>
  </div>
  <div class="field">
    <%= f.label :cont %><br>
    <%= f.text_field :cont %>
  </div>
  <div class="field">
    <%= f.label :dat %><br>
    <%= f.datetime_select :dat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
